.main {
  height: 100vh;
  background-image: linear-gradient(120deg, rgb(41, 69, 11), rgb(77, 95, 79));
}
body {
  overflow-x: hidden;
}

input {
  background: transparent;
  border: none;
  height: 40px;
  margin: 2px;
}

.text-field span {
  background-color: #aab99a;
  padding: 5px 10px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.butn {
  width: 100%;
  border: none;
  background-color: #29450b;
  height: 45px;
  border-radius: 10px;
  color: whitesmoke;
}

p a {
  color: #29450b;
}

.signup-text .text {
  border-bottom: 3px solid #4a4a4a;
  width: max-content;
}

.signup-text .signup {
  border-bottom: 3px solid #29450b;
  width: max-content;
  color: #29450b;
}
